<a href="https://colab.research.google.com/github/cindy-purity/Data-Science-Projects/blob/main/Copy_of_Pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Series Exercises**

In [ ]:
import numpy as np
import pandas as pd

**Series Creation**

In [ ]:
#create an empty pandas series
pd.Series()

Series([], dtype: object)

In [ ]:
#Given the X python list convert it to an Y pandas Series
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [ ]:
#Given the X pandas Series, name it 'My letters'
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

In [ ]:
#Given the X pandas Series, show its values
X = pd.Series(['A','B','C'])

X.values

array(['A', 'B', 'C'], dtype=object)

**Series indexation**

In [ ]:
#Assign index names to the given X pandas Series
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [ ]:
#Given the X pandas Series, show its first element
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] #Â by position
X['first'] # by index

'A'

In [ ]:
#Given the X pandas Series, show its last element
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])


X.iloc[-1] # by position
X['third'] # by index

'C'

In [ ]:
#Given the X pandas Series, show all middle elements
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
X[1:-1]

second    B
third     C
forth     D
dtype: object

In [ ]:
#Given the X pandas Series, show the elements in reverse position
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [ ]:
#Given the X pandas Series, show the first and last elements
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

first    A
fifth    E
dtype: object

**Series Manipulation**

In [ ]:
#Convert the given integer pandas Series to float
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [ ]:
#Reverse the given pandas Series (first element becomes last)
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [ ]:
#Order (sort) the given pandas Series
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [ ]:
#Given the X pandas Series, set the fifth element equal to 10
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [ ]:
#Given the X pandas Series, change all the middle elements to 0
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [ ]:
#Given the X pandas Series, add 5 to every element
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

**Series boolean arrays **(also called masks)

In [ ]:
#Given the X pandas Series, make a mask showing negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [ ]:
#Given the X pandas Series, get numbers higher than 5
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [ ]:
#Given the X pandas Series, get numbers higher than the elements mean
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

In [ ]:
#Given the X pandas Series, get numbers equal to 2 or 10
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

**Logic functions**

In [ ]:
#Given the X pandas Series, return True if none of its elements is zero
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

False

In [ ]:
#Given the X pandas Series, return True if any of its elements is zero
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

**Summary Statistics**

In [ ]:
#Given the X pandas Series, show the sum of its elements
X = pd.Series([3,5,6,7,2,3,])
X.sum()

26

In [ ]:
#Given the X pandas Series, show the mean value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.mean()

3.7

In [ ]:
#Given the X pandas Series, show the max value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.max()

10